.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .card-media-block{
    .card-media-image{
      width: 8.5rem;
      height: 8.5rem;
      max-width: 5.5rem;
      max-height: 8.5rem;
    }
  }
  strong{
    margin-right: .2rem;
  }
}

